*{  text-decoration: none;}

header ul{
  margin-left:-2%;}

header li {
  list-style-type: none;
  float: left;
  margin-right: 1.7%;}

header h1 {
  color: #DDD;
  margin: 0 0.5em 1em;
  padding: 1.2em 0;
  text-transform: uppercase;}

header h1:hover {
    color: #363639;
    cursor: pointer;}

#course-name{
  color: rgb(220, 220, 220);
  font-weight: normal;
  margin-top: -5em;
  margin-left: 1em;
  margin-bottom:1.5em;
  font-size: large;
  border-bottom: 1px solid #40404a;
  width:100%;
  color: #DDD;}

#course-name:hover{
  border-bottom: none;}

#imgmeditation{
  display: none;}

#course-name:hover#imgmeditation{
    display:block;}

.hover_img p{
  position:relative;}

.hover_img p span {
   position:absolute; 
   left:540px;
   bottom: -80px;
   display:none;
   z-index:99; }

.hover_img p:hover span {
    display:block; }

#welcome-content{
  border-bottom: 2px solid #40404a;
  padding-bottom:1em;
  margin-bottom:1em;
}

#welcome-content p{
    text-align:justify;}

body {
  background-color: white;
  color: black;
  font-family: Calibri(body), Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;}

h2, h3, h4, h5, h6 {
  line-height: 2em;
  margin: 0;
  color:#40404a;}

h1 {
  font-size: 2.25em; 
  padding: 0;
  line-height: 2em;}

h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #40404a;}

h3 {
  font-size: 1.45em; }

h4 {
  font-size: 1.25em;
  display:inline;
  color:#00b32d;}

h5 {
  font-size: 1.25em;}

h6 {
  font-size: 1em;}

button{
  margin-top:1em;
  margin-left:60px;
}

img {
  margin: 0;
  max-width: 100%;}

nav a {
  color: #666;}

nav a:hover {
   color: #00b32d;}

.left-column{
    padding-right:2%;}

.main {
  display:flex;
  margin-left:1%; 
  margin-bottom:100px;}
 
 .lect{
     color:rgb(252,9,0);
     width:100%;}

.session,.lect{
  display:flex;
  border-bottom: 1px solid #40404a;
  padding-top:10px;
  padding-bottom:20px;}

h4 span{
  color:#00b32d;
  text-decoration-line: underline;
  text-decoration-color: #d8d8e8;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.4em;}

.date{
   text-decoration-line: none;
   font-size:0.9em;}

.session-title,.lect-title{
   margin-left:3em;}


.lect-title{
   color:#ff8000;
}

.session-title{
   color:#00bfff;}

.session-title::before {
  content:"";
  position: absolute;
  width:590px;
  border-bottom: 1px solid #d8d8e8; /*use this to adjust underline color and size*/
  height:1.7em; /*use this to adjust underline position*/
}

.lect-title::before {
  content:"";
  position: absolute;
  width:590px;
  border-bottom: 1px solid #d8d8e8; /*use this to adjust underlin color and size*/
  height:1.7em; /*use this to adjust underline position*/
}

.session,ul{
  width:100%;
  margin-top:0;
  margin-left: 2.5em;}

.session,li{
  font-size: 14pt;
  margin: 0.75em;
  margin-top: 0;
  margin-bottom:0;}


#schedule-footnote{
  margin-top:-1%;}


.text02{
  width: 380px;}

.indentcontent, .epiphany{
  padding-left: 60px;}

.sidebar{
  padding-left:3%;
  padding-right:10%;
  float:right;
  margin-top:0.55%;
  margin-bottom: 10px;
  margin-left:3%;
  width:70%;}

.sidebar h3{
  font-size:1.25em;
  align:left;
  border-bottom: 2px solid #40404a;}

.sidebar li{
  font-size:1em;
  list-style-type: none;
  border-bottom: 1px solid #e8e8ed;
  line-height:2em;
  margin-left:-20%;
  width:80%;
  }

.links li:hover{
  color: #00b32d;
  background: #eeecec;
  border-bottom: 1px solid #beb6b8;}

.contact li {
  font-weight:100;}

.contact li span{
  color:darkgrey;}

.contact li{
  color: #666;
  border-bottom: 1px solid #eeecec;}

.contact li:hover{
  color: #00b32d;
  background: #eeecec;
  border-bottom: 1px solid #beb6b8;}
