*{  text-decoration: none;}
.logobar{
    width:100%;}

header .logobar li {
  float: left;
  margin-right: 1.7%;}

header .title {
  float: left;
  width: 100%;}


header .coursetitle {
  color: #DDD;
  margin: 0 0 1em;
  padding: 1.2em 0;
  text-transform: uppercase;}

header .coursetitle:hover {
    color: #363639;
    cursor: pointer;}

body {
  background-color: white;
  color: black;
  font-family: Calibri(body), Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;}

h2, h3, h4, h5, h6 {
  line-height: 2em;
  margin: 0;
  color:#40404a;}

h1 {
  font-size: 2.25em; 
  padding: 0;
  line-height: 2em;}

h2 {
  font-size: 1.5em;
  border-bottom: 3px solid #40404a;;}

h3 {
  font-size: 1.45em; }

h4 {
  font-size: 1.25em;}

h5 {
  font-size: 1.25em;}

h6 {
  font-size: 1em; }

ul, ol { /*logo images*/
  margin: 0;
  padding: 0;
  list-style-type: none;}

button{
  margin-top:1em;
  margin-left:60px;}

img {
  margin: 0;
  max-width: 100%;}

nav a {
  color: #666;
  display: block;
  text-transform: lowercase;}

nav a:hover {
   color: #00b32d;}

#course-name{
  color: rgb(220, 220, 220);
  font-weight: normal;
  margin-top: -5em;
  margin-bottom:1.5em;
  font-size: large;
  border-bottom: 1px solid #40404a;
  width:100%;
  color: #DDD;}

#course-name:hover{
  border-bottom: none;}

#imgmeditation{
  display:none;}

#course-name:hover#imgmeditation{
    display:block;}

.hover_img p{
  position:relative;}

.hover_img p span {
   position:absolute; 
   left:540px;
   bottom: -80px;
   display:none;
   z-index:99; }

.hover_img p:hover span {
    display:block; }

#logocompute{
  width:70%;}

.leftcolumn{

    padding-right:2%;}

.main {
  display:flex;
  max-width: 80em;
  margin-left: 0 auto;
  margin-right: auto;
  margin: 0 3%; 
  margin-top:0 auto;
  margin-bottom:100px;}
  
body .sol{
  padding-left: 60px;}

 .lect{
     color:rgb(252,9,0);
  }

.session,.lect{
  display:flex;
  border-bottom: 1px solid #d8d8e8;
  padding-top:10px;
  padding-bottom:20px;}


.session-num {
  color:#00b32d;
  }

.session-num span{
  color:#00b32d;
  text-decoration-line: underline;
  text-decoration-color:#40404a;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.6em;}

.session-outline li{
  font-size: 14pt;
  padding-left:70px;
  margin: 0.75em;
  margin-top: 0;
  margin-bottom:0;}

.session-title,.lect-title{
   margin-left:15%;
   border-bottom: 1px solid #40404a;}


.session-title{
   color:#00bfff;}

.lect-title{
   color:#ff8000;}

#schedule-footnote{
  margin-top:-1%;}
.dates{
  font-size:0.9em;
  color:#00b32d;}



.text02{
  width: 380px;}

div .indentcontent, .epiphany{
  padding-left: 60px;}


.sidebar{
  padding-right:15%;
  padding-left:3%;
  margin-top:0.55%;
  margin-bottom: 10px;
  margin-left:3%;}

.sidebar h3{
  font-size:1.25em;
  align:left;
  border-bottom: 3px solid #40404a;}

.sidebar li{
  font-size:1em;}

.sidebar ul {
  margin: 1em 0;}

.sidebar a {
  border-bottom: 1px solid #e8e8ed;
  padding: 4px 6px 2px; }

.sidebar a:hover {
  background: #eeecec;
  border-bottom: 1px solid #abbaac; }

.links li span{
   color:grey;
   position:relative;
   top:-25px;
   left:15px;
   font-size:1em;
}

.contact li {
  font-weight:100;}

.contact li span{
  color:darkgrey;}

.contact li{
  color: #666;
  border-bottom: 1px solid #eeecec;}

.contact li:hover{
  color: #00b32d;
  background: #eeecec;
  border-bottom: 1px solid #beb6b8;}
