.logobar{
    width:100%;}

header .logobar li {
  float: left;
  margin-right: 1.7%;}

header .title {
  float: left;
  width: 100%;}


header .coursetitle {
  color: #DDD;
  margin: 0 0 1em;
  padding: 1.2em 0;
  text-transform: uppercase;}

header .coursetitle:hover {
    color: #363639;
    cursor: pointer;}

header a{
    text-decoration:none;
}

body {
  background-color: white;
  color: black;
  font-family: Calibri(body), Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;}

h2, h3, h4, h5, h6 {
  line-height: 2em;
  margin: 0;
  color:#40404a;}

h1 {
  font-size: 2.25em; 
  padding: 0;
  line-height: 2em;}

h2 {
  font-size: 1.5em;
  margin-bottom:2%;
  border-bottom: 3px solid #40404a;}

h3 {
  font-size: 1.2em;
  margin-top:2%;
  margin-left:-4%;}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;}

h6 {
  font-size: 1em;}

ul, ol { /*logo images*/
  margin: 0;
  padding: 0;
  list-style-type: none;}

button{
  margin-top:1%;
  margin-left:60px;
  margin-bottom:1%;}

img {
  margin: 0;
  max-width: 100%;}

nav a {
  color: #666;
  display: block;
  text-transform: lowercase;}

nav a:hover {
   color: #00b32d;}

#course-name{
  color: rgb(220, 220, 220);
  font-weight: normal;
  margin-top: -5em;
  margin-bottom:1.5em;
  font-size: large;
  border-bottom: 1px solid #40404a;
  width:100%;
  color: #DDD;}

#course-name:hover{
  border-bottom: none;}

#imgmeditation{
  display:none;}

#course-name:hover#imgmeditation{
    display:block;}

.hover_img p{
  position:relative;}

.hover_img p span {
   position:absolute; 
   left:540px;
   bottom: -80px;
   display:none;
   z-index:99; }

.hover_img p:hover span {
    display:block; }

#logocompute{
  width:70%;}

.content{
    width:100%;
    padding-right:2%;}

.main {
  max-width: 80em;
  margin-left: 0 auto;
  margin-right: auto;
  margin: 0 3%; 
  margin-top:0 auto;
  margin-bottom:100px;}

body {
  margin: 0; }
  
body .sol{
  padding-left: 0;
  margin-bottom:2%;}

code{
    font-size:18px;
}
.ponds{
    border-bottom: 1px dashed grey;
    margin-top:1%;
}

label{
  display:inline-block;
}

input{
  display:inline-block;
}

div .indentcontent, .epiphany{
  padding-left: 60px;}

.epiphanyheader:hover{
    cursor:pointer;
}
#eptitle{
    font-size:1.15em;
    padding-left:40px;}

#pondering04 label{
 font-size:1.15em;
 font-weight:bold;}
 
.externalpage{
    height:350px;
    overflow:hidden;}


nav a {
  color: #666;
  display: block;
  text-transform: lowercase;}

nav a:hover {
    color: #ec008c;}


body {
  margin: 0;}

  .discussion{
      margin-top:2%;
  }

.sidebar{
  display:flex;
  margin-top:0.3%;
  margin-bottom: 10px;
  margin-left:2%;}

.sidebar h3{
  font-size:1.25em;
  align:left;
  border-bottom: 3px solid #40404a;}

.sidebar li{
  font-size:1em;}

.sidebar ul {
  margin: 1em 0;}

.sidebar a {
  border-bottom: 1px solid #e8e8ed;
  padding: 4px 6px 2px; }

.sidebar a:hover {
  background: #eeecec;
  color:#00b32d;
  border-bottom: 1px solid #abbaac;}


 .links{
     margin-right:10%;
     width:80%;
 }

.links li span{
   color:grey;
   position:relative;
   top:-25px;
   left:15px;
   font-size:1em;}

.contact{
    float:right;
    width:20%;
    margin-top:1%;

}

.contact li {
  color: #666;
  border-bottom: 1px solid #eeecec;
  font-weight:100;
  padding-left:5%;}

.contact li span{
  color:darkgrey;}

.contact li:hover{
  color: #00b32d;
  background: #eeecec;
  border-bottom: 1px solid #beb6b8;}

.sol{
    display:none;
}


#solprepost:target{
    display:block;
}


#sol-miss-precond:target{
    display:block;
}

#sol-code-immed:target{
    display:block;
}

#sol-var-name:target{
    display:block;
}



#codepen-strawberry{
    display:none;}

#codepen-strawberry:target{
    display:block;
}


#codepen-strawberry-sol1{
    display:none;}

#codepen-strawberry-sol1:target{
    display:block;}

#codepen-strawberry-sol2{
    display:none;}

#codepen-strawberry-sol2:target{
    display:block;}


.diff{
    width:600px;
}

td:not(.diff){
  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
  /* center checkbox vertically */
}

.correct{
    outline-style:dotted;
    outline-width:0px;
    outline-color:blue;
}

.zoorates{
    width:100px;
}